

<!-- Toolbar -->
<header id="header">
<div class="container">
    <div class="navbar-backdrop">
      <div class="navbar">
        <div class="navbar-left">
          <a class="navbar-toggle"><i class="fa fa-bars"></i></a>
          <a href="index.html" class="logo"><img src="assets/img/menu/logo.png" alt="Shargame" width="78" height="78"></a>
          <nav class="nav">
            <ul>
              <li >
                <a href="index.html">Home</a>
              </li>
              <li class="mega-menu mega-games">
                <a href="games.html">Jeux</a>
                <ul>
                  <li>
                    <div class="container">
                      <div class="row">
                        <div class="col">
                          <div class="img">
                            <a href="game-post.html"><img src="assets/img/menu/menu-1.jpg" alt="Last of Us: Part 2"></a>
                            <span class="badge badge-ps4">PS4</span>
                          </div>
                          <h4><a href="game-post.html">Grand Theft Auto V</a></h4>
                          <span>Jun 29, 2019</span>
                        </div>
                        <div class="col">
                          <div class="img">
                            <a href="game-post.html"><img src="assets/img/menu/menu-2.jpg" alt="Injustice 2"></a>
                            <span class="badge badge-xbox-one">Steam</span>
                          </div>
                          <h4><a href="game-post.html">Injustice 2</a></h4>
                          <span>June 10, 2017</span>
                        </div>
                        <div class="col">
                          <div class="img">
                            <a href="game-post.html"><img src="assets/img/menu/menu-3.jpg" alt="Bioshock: Infinite"></a>
                            <span class="badge badge-xbox-one">Xbox One</span>
                          </div>
                          <h4><a href="game-post.html">Bioshock: Infinite</a></h4>
                          <span>May 16, 2017</span>
                        </div>
                        <div class="col">
                          <div class="img">
                            <a href="game-post.html"><img src="assets/img/menu/menu-4.jpg" alt="Batman: Arkham Knight"></a>
                            <span class="badge badge-ps4">PS4</span>
                          </div>
                          <h4><a href="game-post.html">Batman: Arkham Knight</a></h4>
                          <span>May 10, 2017</span>
                        </div>
                        <div class="col">
                          <div class="img">
                            <a href="game-post.html"><img src="assets/img/menu/menu-5.jpg" alt="Bioshock: Infinite"></a>
                            <span class="badge badge-pc">PC</span>
                          </div>
                          <h4><a href="game-post.html">Hitman Absolution</a></h4>
                          <span>May 10, 2017</span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li >
                <a href="index.html">Bibliothèque</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="nav navbar-right">
          <ul>
            <li class="hidden-xs-down"><a href="login.html">Login</a></li>
            <li class="hidden-xs-down"><a href="register.html">Inscription</a></li>
            <li><a data-toggle="search"><i class="fa fa-search"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="navbar-search">
      <div class="container">
        <form method="post">
          <input type="text" class="form-control" placeholder="Recherche...">
          <i class="fa fa-times close"></i>
        </form>
      </div>
    </div>
  </div>
</header>

<section class="p-y-80">
  <div class="container">
    <div class="heading">
      <h2>Jeux Récents</h2>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card card-lg">
          <div class="card-img">
            <a href="game-post.html"><img src="assets/img/game/game-1.jpg" class="card-img-top" alt="Assassin's Creed Syndicate"></a>
            <div class="badge badge-ps4">Multi</div>
          </div>
          <div class="card-block">
            <h4 class="card-title"><a href="game-post.html">Fifa 20</a></h4>
            <div class="card-meta"><span>22 septembre 2020</span></div>
            <p class="card-text">FIFA 20 est un jeu vidéo de football développé par EA Canada et édité par EA Sports</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card card-lg">
          <div class="card-img">
            <a href="game-post.html"><img src="assets/img/game/8.jpg" class="card-img-top" alt="Rise of the Tomb Raider"></a>
            <div class="badge badge-ps4">Multi</div>
          </div>
          <div class="card-block">
            <h4 class="card-title"><a href="game-post.html">Devil May Cry 5</a></h4>
            <div class="card-meta"><span>8 mars 2019</span></div>
            <p class="card-text"> Le jeu est le cinquième volet canonique de la série Devil May Cry, onze ans après la parution de l'opus précédent, Devil May Cry 4.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card card-lg">
          <div class="card-img">
            <a href="game-post.html"><img src="assets/img/game/9.jpg" class="card-img-top" alt="The Witcher 3: Wild Hunt"></a>
            <div class="badge badge-ps4">Multi</div>
          </div>
          <div class="card-block">
            <h4 class="card-title"><a href="game-post.html">Fifa 19</a></h4>
            <div class="card-meta"><span>28 septembre 2018</span></div>
            <p class="card-text">FIFA 19 est un jeu vidéo de football développé par EA Canada et EA Bucarest, édité par EA Sports.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card card-lg">
          <div class="card-img">
            <a href="game-post.html"><img src="assets/img/game/10.jpg" class="card-img-top" alt="Grand Theft Auto V"></a>
            <div class="badge badge-ps4">Multi</div>
          </div>
          <div class="card-block">
            <h4 class="card-title"><a href="game-post.html">Assassin's Creed Odyssey</a></h4>
            <div class="card-meta"><span>5 octobre 2018</span></div>
            <p class="card-text">Assassin's Creed Odyssey est un jeu vidéo d'action-aventure et de rôle, développé par Ubisoft Québec et édité par Ubisoft sur PC, PlayStation 4 et Xbox One.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card card-lg">
          <div class="card-img">
            <a href="game-post.html"><img src="assets/img/game/11.jpg" class="card-img-top" height="203"></a>
            <div class="badge badge-xbox-one">Android</div>
          </div>
          <div class="card-block">
            <h4 class="card-title"><a href="game-post.html">SuperMeat Boy</a></h4>
            <div class="card-meta"><span>8 avril 2018</span></div>
            <p class="card-text">Super Meat Boy est un jeu vidéo indépendant conçu par Edmund McMillen et Tommy Refenes, qui forment ensemble le studio de développement Team Meat</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card card-lg">
          <div class="card-img">
            <a href="game-post.html"><img src="assets/img/game/12.jpg" class="card-img-top" height="203"></a>
            <div class="badge badge-ps4">Multi</div>
          </div>
          <div class="card-block">
            <h4 class="card-title"><a href="game-post.html">Fortinite</a></h4>
            <div class="card-meta"><span>21 juillet 2017</span></div>
            <p class="card-text">Fortnite est un jeu en ligne développé par Epic Games et qui a été publié sous la forme de différents progiciels proposant différents modes de jeu.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center"><a class="btn btn-primary btn-shadow btn-rounded btn-effect btn-lg m-t-10" href="games.html">Voir Plus</a></div>
  </div>
</section>

<section class="bg-image" style="background-image: url(https://img.youtube.com/vi/IsDX_LiJT7E/maxresdefault.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="video-play" data-src="https://www.youtube.com/embed/IsDX_LiJT7E?rel=0&amp;amp;autoplay=1&amp;amp;showinfo=0">
      <div class="embed-responsive embed-responsive-16by9">
        <img class="embed-responsive-item" src="https://img.youtube.com/vi/IsDX_LiJT7E/maxresdefault.jpg" alt="">
        <div class="video-play-icon">
          <i class="fa fa-play"></i>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- /main -->

<!-- footer -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <h4 class="footer-title">A propos</h4>
        « SharinGame » est un projet répondant à la plupart des besoins sur le plan divertissement et sur le plan compétence. Il contient à la fois un client lourd, une application mobile et une partie web. Il n’existe pas actuellement d’application ou de projet mettant en avant les compétences ainsi que le travail réalisé par un individu. Ainsi, on aura l’avantage de permettre aux usagers de jouer à différents jeux mais également de pouvoir se faire remarquer par les grandes entreprises.
      </div>
      <div class="col-sm-12 col-md-3">
        <h4 class="footer-title">Platform</h4>
        <div class="row">
          <div class="col">
            <ul>
              <li><a href="#">Playstation 4</a></li>
              <li><a href="#">Xbox One</a></li>
              <li><a href="#">PC</a></li>
              <li><a href="#">Android</a></li>
              <li><a href="#">iOS</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <div class="footer-bottom">
      <div class="footer-social">
        <a href="" target="_blank" data-toggle="tooltip" title="facebook"><i class="fa fa-facebook"></i></a>
        <a href="" target="_blank" data-toggle="tooltip" title="twitter"><i class="fa fa-twitter"></i></a>
        <a href="" target="_blank" data-toggle="tooltip" title="twitch"><i class="fa fa-twitch"></i></a>
        <a href="" target="_blank" data-toggle="tooltip" title="youtube"><i class="fa fa-youtube"></i></a>
      </div>
      <p>Copyright &copy; 2017 <a href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank">Gameforest</a>. All rights reserved.</p>
    </div>
  </div>
</footer>
<!-- /footer -->

<!-- plugins js -->

